* {margin:0px ; padding:0px}
#dom {background-image: url("https://3.bp.blogspot.com/-4Pvk6z4KgDo/V2amIv0ltuI/AAAAAAAAA1E/RSmcBR0o6LE6_mvhcXwrAlLUXbpgPT2qgCLcB/s1600/agario%2Bwhite%2Bbackground.png"); width: 500px; height: 500px; border: solid 1px black;}
